<article class="card-review">
	<img
		class="card-review__quote"
		src="./../../img/icons/quote.svg"
		alt="Quote icon"
		width="32"
		height="32"
		loading="lazy"
	>

	<p class="card-review__text">
		@@text
	</p>

	<div class="card-review__author">
		<img
			class="card-review__avatar"
			src="./../../img/users/@@img"
			alt="Sarah Thompson"
			width="48"
			height="48"
			loading="lazy"
		>

		<div class="card-review__author-info">
			<span class="card-review__author-name">@@author</span>
			<span class="card-review__author-location">@@location</span>
		</div>
	</div>
</article>
