<div class="swiper-slide">
	<article class="offer-card">
		<div class="offer-card__media">
			<img
				class="offer-card__image"
				src="./../../img/offers/@@img"
				alt="Traveler riding a camel through Dubai desert dunes"
				width="600"
				height="444"
				loading="lazy"
			>
		</div>
	
		<div class="offer-card__body">
			<div class="offer-card__info">
				<span class="offer-card__badge">@@badge</span>
				<h3 class="offer-card__title">@@title</h3>
				<p class="offer-card__description">
					@@desc
				</p>
			</div>
	
			<div class="offer-card__price">
				<span class="offer-card__price-label">Starts from</span>
				<span class="offer-card__price-value">@@price</span>
			</div>
		</div>
	</article>
</div>
